@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 50px 200px 0px;
    background-color: #fff8f3;
    background-image: url(./images/header_bg.png), url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, 50px 20px;
    background-size: none, cover;
}

nav {
    display: flex;
    justify-content: space-between;
    /* margin: 51px 226px; */
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #181818;
}

.nav-title span {
    color: #FD6E0A;
}

header nav ul li {
    display: inline;
    margin-left: 38px;
}

header nav li {
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

header nav li a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    /* width: 150px;
    height: 64px; */
    padding: 18px 30px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary i,
.btn-secondary i {
    margin-right: 10px;
}

.btn-secondary {
    /* width: 150px;
    height: 64px; */
    padding: 18px 30px;
    border-radius: 5px;
    background-color: #fff;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner {
    display: flex;
    align-items: center;
}

.intro h3 {
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    color: #474747;
}

.intro h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 116px;
    color: #181818;
}

.intro p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.banner ul {
    display: flex;
    padding: 0;
    margin: 30px 0px;
}

.banner ul li {
    list-style: none;
    display: flex;
    padding-right: 30px;
}

.picture img {
    width: 584px;
    height: 676px;
    bottom: 0px;
    right: 0px;
} 

main {
    margin: 130px 200px 0pc;
}

.about-me {
    text-align: center;
    background-color: #FFF8F3;
    padding: 110px 157px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.sub-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin: 30px 0px 20px;
}

.sub-descrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.demographic {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}

.demographic tr {
    align-items: center;
    justify-content: space-evenly;
}

.demographic tr td{
    border: 2px solid transparent;
    padding: 0px 15px;
}

.work,
.resume {
    text-align: center;
    margin: 100px 0px;
}

.container {
    display: flex;
    margin-top: 20px;
    text-align: left;
}

.work .skill {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin: 0px 24px;
}

.resume {
    margin: 10px 0px 100px;
}

.title {
    font-weight: 700;
    font-size: 30px;
line-height: 41px;
color: #474747;
margin: 60px 0px 0px;
}

.resume-summary {
    margin: 0px 30px;
}

.resume-item {
    padding: 30px 0px;
}

.resume-item h3 {
    font-weight: 700;
font-size: 25px;
line-height: 34px;
color: #474747;
margin-bottom: 10px;
}

.resume-item h5 {
    font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #757575;
}

.resume-item p {
    font-size: 16px;
line-height: 28px;
color: #757575;
padding: 10px 0px 20px;
}

footer {
    padding: 130px 200px;
    background-color: #FFF8F3;
    display: flex;
}

.social, 
.contact {
    margin: 0px 50px;
    width: 50%;
}

.social ul {
    display: flex;
    list-style: none;
    margin: 30px 0px;
    padding: 0px;
}

.social ul li {
    margin-right: 24px;
}

.contact input,
.contact textarea {
    display: block;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    margin: 20px 0px;
    border: none;
}